/*
*   CSS stylesheet for - bits_and_bobs/centering/centering.html
*                        https://github.com/Mervodactyl/bits_and_bobs
*
*   <style type="text/css">
*
*   Standard size
=============================================================================*/
@import url("normalize.css");

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

html, body {
  background-color: #F3F781;
}

p {
  padding: 5px;
  margin: 0 auto;
  color: #FF4000;
}

#big-box {
  overflow-y: scroll;
  padding: 30px;
  margin: 10px auto;
  height: 400px;
  width: 600px;
  background-color: #A9E2F3;
}

.inner-boxes {
  padding: 30px;
  margin: 10px auto;
  height: 200px;
  width: 300px;
  background-color: #81F781;
}
