
#warped2 {
  /*z-index: 1;*/
  /*position: inline-block;*/
  position: relative;
  display: block;
  /*margin-left: 50%;
  height: 500px;
  width: 500px;
  background-color: red;
    border: 2px solid black;*/
}

#warped2>span[class^=w]:nth-of-type(n+0) {
  display: inline-block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped2 span {
  font-family: 'ABeeZee';
  font-size: 38px;
  font-weight: regular;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
  background-color: yellow;

}

#warped2 .w0 {
  -moz-transform: rotate(0.91rad);
  -webkit-transform: rotate(0.91rad);
  -o-transform: rotate(0.91rad);
  -ms-transform: rotate(0.91rad);
  transform: rotate(0.91rad);
  width: 20px;
  height: 24px;
  left: 552.15px;
  top: 152.55px;
}

#warped2 .w1 {
  -moz-transform: rotate(1.06rad);
  -webkit-transform: rotate(1.06rad);
  -o-transform: rotate(1.06rad);
  -ms-transform: rotate(1.06rad);
  transform: rotate(1.06rad);
  width: 23px;
  height: 24px;
  left: 565.17px;
  top: 174.68px;
}

#warped2 .w2 {
  -moz-transform: rotate(1.22rad);
  -webkit-transform: rotate(1.22rad);
  -o-transform: rotate(1.22rad);
  -ms-transform: rotate(1.22rad);
  transform: rotate(1.22rad);
  width: 23px;
  height: 24px;
  left: 576.77px;
  top: 200.14px;
}

#warped2 .w3 {
  -moz-transform: rotate(1.35rad);
  -webkit-transform: rotate(1.35rad);
  -o-transform: rotate(1.35rad);
  -ms-transform: rotate(1.35rad);
  transform: rotate(1.35rad);
  width: 15px;
  height: 24px;
  left: 587.43px;
  top: 223.18px;
}

#warped2 .w4 {
  -moz-transform: rotate(1.49rad);
  -webkit-transform: rotate(1.49rad);
  -o-transform: rotate(1.49rad);
  -ms-transform: rotate(1.49rad);
  transform: rotate(1.49rad);
  width: 23px;
  height: 24px;
  left: 586.94px;
  top: 246.9px;
}

#warped2 .w5 {
  -moz-transform: rotate(1.63rad);
  -webkit-transform: rotate(1.63rad);
  -o-transform: rotate(1.63rad);
  -ms-transform: rotate(1.63rad);
  transform: rotate(1.63rad);
  width: 18px;
  height: 24px;
  left: 589.63px;
  top: 272.38px;
}

#warped2 .w6 {
  -moz-transform: rotate(1.75rad);
  -webkit-transform: rotate(1.75rad);
  -o-transform: rotate(1.75rad);
  -ms-transform: rotate(1.75rad);
  transform: rotate(1.75rad);
  width: 15px;
  height: 24px;
  left: 588.47px;
  top: 293.7px;
}

#warped2 .w7 {
  -moz-transform: rotate(1.85rad);
  -webkit-transform: rotate(1.85rad);
  -o-transform: rotate(1.85rad);
  -ms-transform: rotate(1.85rad);
  transform: rotate(1.85rad);
  width: 10px;
  height: 24px;
  left: 586.91px;
  top: 310.71px;
}

#warped2 .w8 {
  -moz-transform: rotate(1.96rad);
  -webkit-transform: rotate(1.96rad);
  -o-transform: rotate(1.96rad);
  -ms-transform: rotate(1.96rad);
  transform: rotate(1.96rad);
  width: 18px;
  height: 24px;
  left: 576.64px;
  top: 328.64px;
}

#warped2 .w9 {
  -moz-transform: rotate(2.07rad);
  -webkit-transform: rotate(2.07rad);
  -o-transform: rotate(2.07rad);
  -ms-transform: rotate(2.07rad);
  transform: rotate(2.07rad);
  width: 12px;
  height: 24px;
  left: 571.02px;
  top: 346.67px;
}

#warped2 .w10 {
  -moz-transform: rotate(2.16rad);
  -webkit-transform: rotate(2.16rad);
  -o-transform: rotate(2.16rad);
  -ms-transform: rotate(2.16rad);
  transform: rotate(2.16rad);
  width: 12px;
  height: 24px;
  left: 562.14px;
  top: 361.16px;
}

#warped2 .w11 {
  -moz-transform: rotate(2.26rad);
  -webkit-transform: rotate(2.26rad);
  -o-transform: rotate(2.26rad);
  -ms-transform: rotate(2.26rad);
  transform: rotate(2.26rad);
  width: 12px;
  height: 24px;
  left: 551.91px;
  top: 374.74px;
}

#warped2 .w12 {
  -moz-transform: rotate(2.35rad);
  -webkit-transform: rotate(2.35rad);
  -o-transform: rotate(2.35rad);
  -ms-transform: rotate(2.35rad);
  transform: rotate(2.35rad);
  width: 12px;
  height: 24px;
  left: 540.44px;
  top: 387.28px;
}

#warped2 .w13 {
  -moz-transform: rotate(2.45rad);
  -webkit-transform: rotate(2.45rad);
  -o-transform: rotate(2.45rad);
  -ms-transform: rotate(2.45rad);
  transform: rotate(2.45rad);
  width: 12px;
  height: 24px;
  left: 527.83px;
  top: 398.66px;
}

#warped2 .w14 {
  -moz-transform: rotate(2.51rad);
  -webkit-transform: rotate(2.51rad);
  -o-transform: rotate(2.51rad);
  -ms-transform: rotate(2.51rad);
  transform: rotate(2.51rad);
  width: 0px;
  height: 24px;
  left: 525.11px;
  top: 405.37px;
}

#warped2 .w15 {
  -moz-transform: rotate(2.54rad);
  -webkit-transform: rotate(2.54rad);
  -o-transform: rotate(2.54rad);
  -ms-transform: rotate(2.54rad);
  transform: rotate(2.54rad);
  width: 0px;
  height: 24px;
  left: 521.02px;
  top: 408.24px;
}
