/*  CSS stylesheet for: 'https://github.com/Mervodactyl/bits_and_bobs/scss.git'
*   <style type="text/css">
*
*   Standard size
=============================================================================*/
@import "variables";
@import "mixins";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  @include border-box;
}

* {
  color: #000;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0;
}

.wrapper:after, .row:after {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

span {
  display: block;
  background-color: #F5A9F2;
  padding: 1em 0;
  text-align: center;
}

@media #{$breakpoint-medium} {

  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
    margin: 0 auto;
  }

  @for %x from 1 through $grid-columns {
    .column-#{$x}
      width: 100% / $grid-columns * $x;
  }

  span {
    display: block;
    background-color: #2EFE64;
    padding: 1em 0;
    text-align: center;
  }

}
