//  SCSS stylesheet for: 'https://github.com/Mervodactyl/bits_and_bobs/scss.git'
//  <style type="text/scss">


@import "variables_mixins";

*, *::before, *::after {
  @include border-box
}

body {
  background-color: $blue;
}

h1 {
  text-align: right;
  padding: 20px;
  margin: 0 3% 0 0;
}

header {
  @include small-border;
  @include font-style;
  background-color: $lilac;
  margin: 0 0 2% 0;
  h2 {
    padding: 10px;
    margin: 0 0 0 3%;
  }
}

main {
  @include border;
  @include border-radius;
  @include font-style;
   h2 {
    background-color: $lilac;
    @include padding-margin-text;
    @include small-border;
  }
  p {
    @include padding-margin-text;
    background-color: $bluer;
  }
  #highlights {
    color: $bluer + 100;
    span {
      color: $lilac + 100;
      background-color: $lilac;
      @include border-radius(10px)
    }
  }
}

.shape-section {
  padding: 25px;
  margin: 0 44%;
  #circle {
    padding: 10px;
    z-index: 0;
    @include circle(150px, #F781F3);
  }
  #triangle {
    z-index: 1;
    margin-top: 40px;
    margin-left: 12px;
    @include triangle(50px, down, #F6CEF5);
  }
}

footer {
  @extend main;
  @include padding-margin-text;
  margin: 10px 0 0 0;
  color: yellow;
}
